#include <stdio.h>
#include <math.h>
int main(void)
{
float xo,xi;
int i;
printf("************* \n");
printf("calculadora Newton-rhaspson \n");
printf("\n /////////////////////// \n");
printf("\n ingrese un valor aproximado a la solución \n");
scanf("%f" ,&xo);
for(i=1;i<=10;i++)
{
xi=xo-(((xo*xo*xo)+2*(xo*xo)-xo+5)/(3*(xo*xo)+4*xo-1));
printf("%f \n",xi);
xo=xi;
}
return 0;
}
